# --- INSTRUCTIONS ---
# 1. Create a new file in this folder named: .env.local
# 2. Copy the content below into that new file.
# 3. Restart your server (npm run dev).


#OR
# Rename this file to .env.local and modify the values as needed.



# API Configuration
# If running locally, use: http://127.0.0.1:8000 , If running in cloud, use your Render URL for backend deployment.
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000